body{
    font-family: "Arial" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.course-conteiner{
    margin: 0 10px;
}

.all-courses{
    display: flex;
}

header{
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
}

header h1 , nav{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul{
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    transition: 300ms all;
}

nav a:hover{
    border-bottom: 1px solid #ecf0f1;
}

.hero{
    text-align: center;
    padding: 40px 0;
}

.hero h2{
    color: 2c3e50;
}

.cta-button{
    display: inline-block;
    background-color: #3498db;
    color: #ecf0f1;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 300ms background-color;
}

.cta-button:hover{
    background-color: #2980b9;
}

.courses{
    padding: 40px 0;
}

.course{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms all;
}

.course:hover{
    border-color: #2c3e50;
}

.course img{
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.course-info{
    flex-grow: 1; /* Bu içeriği resimden sonra tam genişlikte yayar. */
}

.course h3{
    margin: 0;
    color: #2c3e50;
}

.course p{
    margin: 0;
    color: #7f8c8d;
}

footer{
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}